* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}


.quizGenWrapper {
  padding-top: 2%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizTitleInput {
  width: 50vw;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  overflow-wrap: break-word;

}

.questionInput {
    margin: 2%;
    width: 40vw;
}

.quizTitleTimer {
  margin: 2%;
  text-align: center;
  width: 5em;
}

.quizGenHeader {
  color: grey;
  text-align: center;
  padding-bottom: 2%;
  font-size: 3em;
}

.quizGenInputs {
  margin-top: 2%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 38px -21px rgba(0, 0, 0, 0.60);
  width: 50vw;
  height: 100%;
  border-left: 10px solid green;
  border-top-left-radius: 1em;
}

.addAnswerButton {
  background-color: rgb(255, 255, 153);
  padding: 1%;
  margin: 1%;
  border: 0.1em solid #FFFFFF;
  border-radius: 2em;
  text-decoration: none;
  color: grey;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  width: 10em;
  height: 4em;
  font-size: 0.5em;
}

.addAnswerButton:hover {
  background-color: grey;
  color: #FFFFFF;
}

/* .saveAndAddButtons {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  bottom: 10%;
} */

.addQuestionButton {
  bottom: 2%;
  left: 12%;
  position: fixed;
  background-color: #3f51b5;
  padding: 0;
  border: 0;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-decoration: none;
  font-size: 0.875rem;
  color: white;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  width: 15em;
  height: 4.5em;
}

.addQuestionButton:hover {
  background-color: grey;
  color: #FFFFFF;
}

.saveQuizButton {
  right: 12%;
  bottom: 2%;
  position: fixed;
  background-color: green;
  padding: 0;
  border: 0;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-decoration: none;
  font-size: 0.875rem;
  color: white;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  width: 15em;
  height: 4.5em;

}

.saveQuizButton:hover {
  background-color: grey;
  color: #FFFFFF;
}

.deleteQuestion {
  background-color: rgb(255, 255, 153);
  padding: 1%;
  margin: 1%;
  font-weight: bolder;
  border: 0.1em solid #FFFFFF;
  border-radius: 10em;
  text-decoration: none;
  color: grey;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  width: 10em;
  height: 3em;
}

.deleteQuestion:hover {
  background-color: grey;
  color: #FFFFFF;
}

.quizButtons {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.quizAnswerInputs {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  grid-column-gap: 10%;
  grid-row-gap: 5%; 

  margin: 2%;
}

.isAnswerCorrect {
  padding: 2%;
}

.answerInputsStyles {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
}

.questionAndDeleteButtonInput {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.removeAnswerButton {
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: white;
  text-align: center;
  color: grey;
  font-weight: bold;
}

@media (max-width: 960px) {
  .quizGenWrapper {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .quizGenWrapper:last-child {
    margin-bottom: 15%;
  }

  .quizTitleInput {
  width: 90vw;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  overflow-wrap: break-word;

  }

  .questionInput {
      margin: 2%;
      width: 90vw;
  }

  .quizGenHeader {
    color: grey;
    text-align: center;
    padding-bottom: 2%;
    font-size: 2em;
  }

  .quizGenInputs {
    margin: 6% 0 0 0;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100vw;
    height: 100%;
  }

  .quizButtons {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .quizAnswerInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2%;
  }

  .isAnswerCorrect {
    padding: 2%;
  }

  .answerInputsStyles {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    margin: 2%;
  }

  .questionAndDeleteButtonInput {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* .saveAndAddButtons {
    display: flex;
    flex-direction: row;
    padding: 8%;
    z-index: 1;
    opacity: 0.9;
    height: 100px;
    width: 100%;
  } */

  .saveQuizButton {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 50%;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14);
    border: 0;
    opacity: 0.9;
  }

  .addQuestionButton {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 50%;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.14);
    border: 0;
    opacity: 0.9;

  }
}

@media (max-width: 480px) {
  .quizGenWrapper {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .quizGenWrapper:last-child {
    margin-bottom: 15%;
  }

  .quizTitleInput {
  width: 90vw;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  overflow-wrap: break-word;

  }

  .questionInput {
      margin: 2%;
      width: 90vw;
  }

  .quizGenHeader {
    color: grey;
    text-align: center;
    padding-bottom: 2%;
    font-size: 2em;
  }

  .quizGenInputs {
    margin: 6% 0 0 0;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    border-radius: 0;
    width: 100vw;
    height: 100%;
  }

  .quizButtons {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .quizAnswerInputs {
    display: flex;
    flex-direction: column;
    margin: 2%;
  }

  .isAnswerCorrect {
    padding: 2%;
  }

  .answerInputsStyles {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 2%;
  }

  .questionAndDeleteButtonInput {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .removeAnswerButton {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: white;
    text-align: center;
    color: grey;
    font-weight: bold;
  }

  /* .saveAndAddButtons {
    display: flex;
    flex-direction: row;
    padding: 8%;
    opacity: 0.9;

  } */

  .saveQuizButton {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 50%;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14);
    border: 0;
  }

  .addQuestionButton {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 50%;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.14);
    border: 0;

  }
}




.removeAnswerButton {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: white;
  text-align: center;
  color: grey;
  font-weight: bold;
  font-size: 1.25em;
}

.removeAnswerButton:hover {
  transform: scale(1.75);
}


